<main>
  <div class="container">
    <section class="hero">
      <h1 class="visually-hidden">Movies Gallery</h1>
      <ul class="movie-list"></ul>
      <div class="pagination">
        <button class="pagination-button arrow-left is-hidden" type="button">
          <svg width="16" height="16">
            <use href="./images/symbol-defs.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <ul class="pagination-list"></ul>
        <button
          class="pagination-button arrow-right pagination-button--rotate is-hidden"
          type="button"
        >
          <svg width="16" height="16">
            <use href="./images/symbol-defs.svg#icon-arrow-left"></use>
          </svg>
        </button>
      </div>
    </section>
  </div>
</main>
