<main>
  <div class="container">
    <section class="hero">
      <h1 class="visually-hidden">Movies Gallery</h1>
      <ul class="movie-list"></ul>
      <ul class="pagination-list">
        <li class="pagination-item">
          <button class="pagination-button arrow-left" type="button">
            <svg width="16" height="16">
              <use href="./images/symbol-defs.svg#icon-arrow-left"></use>
            </svg>
          </button>
        </li>
        <li class="pagination-item">
          <button
            class="pagination-button arrow-right pagination-button--rotate"
            type="button"
          >
            <svg width="16" height="16">
              <use href="./images/symbol-defs.svg#icon-arrow-left"></use>
            </svg>
          </button>
        </li>
      </ul>
    </section>
  </div>
</main>
