<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button
      class="close-button"
      type="button"
      aria-label="Close"
      data-modal-close
    >
      <svg width="30" height="30">
        <use href="./images/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
    <img src="./images/movie.jpg" alt="" width="375" />
    <div class="movie-details">
      <h3 class="movie-heading">A FISTFUL OF LEAD</h3>
      <ul class="movie-list-info">
        <li class="movie-list-info__item">
          <p class="movie-testimonial">Vote / Votes</p>
          <p class="movie-mark">
            <span class="rating">7.3</span><span class="delimeter">/</span
            ><span class="quantity">1260</span>
          </p>
        </li>
        <li class="movie-list-info__item">
          <p class="movie-testimonial">Popularity</p>
          <p class="movie-mark">100.2</p>
        </li>
        <li class="movie-list-info__item">
          <p class="movie-testimonial">Original Title</p>
          <p class="movie-mark movie-mark--original-title">A FISTFUL OF LEAD</p>
        </li>
        <li class="movie-list-info__item">
          <p class="movie-testimonial">Genre</p>
          <p class="movie-mark">Western</p>
        </li>
      </ul>
      <p class="about">About</p>
      <p class="about-descr">
        Four of the West’s most infamous outlaws assemble to steal a huge stash
        of gold from the most corrupt settlement of the gold rush towns. But not
        all goes to plan one is killed and the other three escapes with bags of
        gold hide out in the abandoned gold mine where they happen across
        another gang of three – who themselves were planning to hit the very
        same bank! As tensions rise, things go from bad to worse as they realise
        the bags of gold are filled with lead... they’ve been double crossed –
        but by who and how?
      </p>
      <div class="button-wrapper button-wrapper--modal">
        <button class="button modal-button" type="button">
          Add to watched
        </button>
        <button
          class="button queue modal-button modal-button-queue"
          type="button"
        >
          Add to queue
        </button>
      </div>
    </div>
  </div>
</div>
