.hero {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (max-width: 767px) {
    padding-top: 20px;
    padding-bottom: 40px;
  }
}

.movie-list {
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;

    margin-bottom: 60px;
  }
  @media screen and (min-width: 1280px) {
    column-gap: 16px;
    row-gap: 32px;
  }
}

.movie-list__item {
  width: 280px;

  overflow: hidden;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin: 0 auto;
      margin-bottom: 20px;
    }
  }

  @media screen and (min-width: 768px) {
    width: 336px;
  }
  @media screen and (min-width: 1280px) {
    width: 395px;
  }

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    border-radius: 5px;
  }
}

.movie-image {
  width: 280px;
  height: 398px;
  object-fit: cover;

  @media screen and (min-width: 768px) {
    width: 336px;
    height: 455px;
  }
  @media screen and (min-width: 1280px) {
    width: 395px;
    height: 574px;
  }
}

.movie-descr {
  padding: 12px 5px;

  border: 1px solid #eeeeee;
  border-top: none;
}

.movie-title {
  font-size: 12px;
  line-height: calc(16 / 12);
  text-transform: uppercase;

  color: #000000;

  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: calc(24 / 20);
  }
}

.movie-info {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 5px;
  font-size: 12px;
  line-height: calc(16 / 12);

  color: #ff6b08;

  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: calc(24 / 20);
  }
}

.vote-average {
  margin-left: 5px;
  padding: 3px 12px;
  font-size: 12px;
  line-height: calc(14 / 12);

  color: #ffffff;
  background-color: #ff6b08;

  border-radius: 5px;
}
