.pagination,
.pagination-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.pagination-item {
  font-size: 12px;
  line-height: calc(16 / 12);

  color: #000000;
}

.pagination-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 0;

  font-size: 12px;
  line-height: calc(16 / 12);

  color: #000000;
  background-color: transparent;

  border: none;
  border-radius: 5px;

  cursor: pointer;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &--rotate {
    svg {
      transform: rotateY(180deg);
    }
  }

  &:hover,
  &:focus {
    fill: #ffffff;
    color: #ffffff;
    background-color: #ff6b08;
  }
}

.arrow-left,
.arrow-right {
  background-color: #f7f7f7;
}

.active {
  color: #ffffff;
  background-color: #ff6b08;
}
